body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 45px;
}
h4{
    color: tomato;
    font-size: 25px;
}
.color-tomato{
    color: tomato;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, tomato, salmon);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.half-width p{
    width: 90%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.experience h1{
    font-size: 45px;
}
#left-border{
    border-left: 8px solid;
    border-image-source: linear-gradient(tomato, salmon);
    border-image-slice: 1;
    box-shadow: 5px 5px 40px gray;
}
#right-border{
    border-left: 8px solid;
    border-image-source: linear-gradient(blue, cyan);
    border-image-slice: 1;
    box-shadow: 5px 5px 40px gray;
}
footer p{
    text-align: center;
    color: gray;
}